{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MESS</title>
</head>
<body>
<form>

</form>
<form method="post" action="/food_details/">
    Chappati: <input type="text" name="chappati"><br>
    Rice: <input type="text" name="rice"><br>
    Dal: <input type="text" name="dal"><br>
    Vegetables: <input type="text" name="veges"><BR>
    Sweet: <input type="text" name="sweet"><br>
    <input type="submit" value="UPDATE DATA">
</form>
</body>
</html>